/* Text above the table */
.text-muted {
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
}

/* The table */
.custom-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.custom-table th,
.custom-table td {
  border: 0;
  vertical-align: middle; /* Vertically align text in table cells */
  padding: 10px;
  margin: 0;
}

.custom-table th {
  color: #f8f9fa;
  text-align: center;
}

.custom-table td {
  text-align: center;
}

.custom-table tr td:first-child {
  font-weight: bold;
  color: #f8f9fa;
  text-align: center; /* Center the row header text */
}

.custom-table input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; /* Center the text inside the input */
  padding: 5px; /* Adjust padding for better visual alignment */
}

.table {
  margin: auto;
  background-color: #212529;
}



