.copy-container {
  display: inline-block;
  position: relative;
}

.copy-container .text-to-copy {
  color: inherit;
  font-size: inherit;
  pointer-events: none;
}

.copy-container .confirmation-text {
  margin-left: 4px;
  color: green;
  font-size: 14px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.copy-container .copy-icon {
  cursor: pointer;
  margin-left: 8px;
}

.copy-container .copy-icon:hover {
  opacity: 0.8;
}
